.container-modal {
  padding: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.outer-text {
  font-size: 14px;
  font-weight: normal;
  color: #0a243f;
  text-align: center;
}
.inner-text {
  font-weight: 500;
  color: #0a243f;
}
.cancel-delete-button {
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  border: none;
  color: white;
  background-color: #bf2600;
}
.cancel-delete-button-navy {
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  border: none;
  color: white;
  background-color: #0354a3;
}
.cancel-delete-button:hover {
  color: #fff !important;
}
.cancel-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border-top: 1px solid #dedede; */
  /* border-radius: 0px 0px 16px 16px; */
  height: 96px;
  /* box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.1); */
  background-color: #fff;
}
.cancel-button {
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  max-width: 120px;
  width: 100%;
}
